{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Task !  </title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css   " rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  {% block title %}
 <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="/">
         Todo
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/task">Task</a>
          </li>
       
        </ul>
        <!-- Left links -->
      </div>
    


      seccuss is  {{success}}
    </div>
    {% endblock %}
  </nav>
  {% block content %}
  <div class="container text-center my-2 ">


    <h1>Welcome to Todo Task</h1>

  </div>

  <div class="container">

    {% comment %} HKani  {% endcomment %}

    <form action="/" method="post">
      {% csrf_token %}
        <label class="my-1" for="title">Task Title</label>
        <div class="form-outline ">
          <input type="text" id="title" class="form-control" name="title" />

        </div>

        <div class="form-outline mb-2">
          <label class="form-label my-2" for="desc"> Tesk Discription</label>
          <textarea class="form-control" id="desc" rows="4" name="desc"></textarea>
         
        </div>
      
        <button type="submit" class="btn btn-primary btn-block mb-5">Send</button>
      </form>
  </div>
{% endblock %}
  


  <!-- Navbar -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>